Repository Abrams27/MIMUW-S4-IO, pull requests merged in 2020-07, with the labels that each got.

#72 poprawki frontend
  lekizapteki-frontend/src/app/components/identical-medicines-details/identical-medicines-details.component.css
  lekizapteki-frontend/src/app/components/identical-medicines-details/identical-medicines-details.component.html
  lekizapteki-frontend/src/app/components/identical-medicines-details/identical-medicines-details.component.ts
  lekizapteki-frontend/src/app/components/identical-medicines-details/identical-medicines-details.properties.ts
  lekizapteki-frontend/src/app/services/webservices/models/medicine/detailed/pricing.dto.ts
Labels: frontend

#73 aktualizacja modelu
  lekizapteki-backend/api/src/main/java/pl/uw/mim/io/lekizapteki/models/medicine/detailed/PricingDto.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/excel/parser/mappers/entities/PricingEntityMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/dto/PricingDtoMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/repositories/entities/PricingEntity.java
  lekizapteki-backend/app/src/main/resources/schema-h2.sql
Labels: backend

#76 aktualizacja bazy danych
  docs/architecture.tex
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/excel/parser/utils/MedicineParser.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/excel/parser/validators/MedicinesValidator.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/dto/MedicineDetailsDtoMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/dto/MedicineDtoMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/dto/PricingDtoMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/entity/DiseaseEntityMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/entity/DoseEntityMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/entity/FormEntityMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/entity/IngredientEntityMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/entity/MedicineEntityMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/entity/PackageEntityMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/entity/PricingEntityMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/string/DoseStringMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/mappers/string/IngredientStringMapper.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/repositories/MedicineRepository.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/repositories/entities/DoseEntity.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/repositories/entities/IngredientEntity.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/repositories/entities/MedicineEntity.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/repositories/entities/PackageEntity.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/repositories/entities/PricingEntity.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/services/DiseaseService.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/services/MedicineService.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/utility/MedicineValueSorter.java
  lekizapteki-backend/app/src/main/resources/schema-h2.sql
  lekizapteki-backend/app/src/test/java/mappers/dto/MedicineDtoMapperTest.java
  lekizapteki-backend/app/src/test/java/mappers/entities/MedicineEntityMapperTest.java
  lekizapteki-backend/app/src/test/java/valueSorter/ValueSorterTest.java
Labels: backend

#77 aktualizacja obliczania wspolczynnika
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/profitability/MedicineProfitabilityRateResolver.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/profitability/MedicineValueSorter.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/usecases/GetIdenticalMedicines.java
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/utility/MedicineValueSorter.java
  lekizapteki-backend/app/src/test/java/valueSorter/ValueSorterTest.java
Labels: backend

#78 fixes
  docs/architecture.tex
  lekizapteki-backend/app/src/main/java/pl/uw/mim/io/lekizapteki/excel/ExcelProcessingInvoker.java
  lekizapteki-backend/app/src/main/resources/schema-h2.sql
Labels: backend, dokument
